<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config"
    name="Hippodrome" status="warn">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss,SSS} %level %class: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>